@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    background-color: rgba(25, 25, 112, 1);
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px;

}

header h1{
    background-color: #E6E6FA;
    color: white;
    width: 100%;
    text-align: right;
    height: 50px;
}

.info img{
    height: 300px;
    border-radius: 25px;
    margin: 10px;
    
}

.info{
    display: flex;
    justify-content:space-between;
    
}

.info p{
    background-color: #E6E6FA;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 40px 100px white;
    
}

.choice-space {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px dotted white;
    color: #E6E6FA;
    flex-direction: row;

}



.choice{
    display: flex;
    justify-content: space-between;
    color: #E6E6FA;
    flex-direction: row;
}

.choice-btn button{
    background-color: #E6E6FA;
    border-radius: 25px;
    height: 47px;
    width: 156px;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
}

button:hover{
    transition: 1s;
    box-shadow: 0px 40px 100px white;
}

.name:hover{
    transition: 1s;
    color: white;
}

.card{
    background-color: #E6E6FA;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    width: 250px;
    text-align: center;
    align-items: center;
    transition: 1s;
    
}

.card:hover{
    box-shadow: 0px 40px 100px white;
    width: 300px;
}

.card img{
    width: 200px;
    border-radius: 25px;
}

.library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}