@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    background-color: rgba(25, 25, 112, 1);
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0%;

}

header h1{
    background-color: #E6E6FA;
    color: white;
    width: 100%;
    text-align: right;
    height: 50px;


}